<%- include('include/header'); %>
<div class="container">
<h1>Home</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Image</th>
            <th>Description</th>
            <th>Category</th>
            <th>Availible Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% 
        
        for (let product of productData){ 
            let no = 1;
            %>

            <tr>
                <td>
                    <p><%= no %></p>
                </td>
                <td>
                    <p><%= product.name %></p>
                </td>
                <td>
                    <img src="/static/images/<%= product.image %>">
                </td>
                <td>
                    <p><%= product.description %></p>
                </td>
                <td>
                    <p><%= product.category %></p>
                </td>
                <td>
                    <p><%= product.price %></p>
                </td>
                <td>
                    <p><%= product.available_qty %></p>
                </td>
                <td>
                    <div class="edit-btn">
                        <a href="http://localhost:8080/products/update" class="edit">Edit</a>
                    </div>
                    <div class="edit-btn">
                        <a href="http://localhost:8080/products/delete" class="edit">Delete</a>
                    </div>
                </td>
            </tr>
        <%   no++
          } %>
        </tbody>
    </table>
    <div class="add-btn">
        <a href="http://localhost:8080/products/add" class="add">Add</a>
    </div>
    </div>
</body>
</html>